.settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: black;
  color: white;
}

.visualizer {
  display: flex;
  justify-content: center;
  gap: 1px;
  width: 100%;
  /* transform: rotate(180deg); */
}

.bar {
  width: 2px;
  background-color: aquamarine;
}
